.intro {
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 3rem;
}

h1 + .intro {
  margin-top: -2.25rem;
}

.text{
  h2, h3{
    margin-top: 3rem;
  }

  ul, ol{
    margin-left: 1.5em;
  }

  hr{
  /* We use a more muted style for horizontal rules within
  the main content. */
  color: #a8a5be;
  }

  ul{
    list-style: none;
    & > li::before{
      content: "–";
      display: inline-block;
      position: relative;
      width: 1.25em;
      margin-right: -1.25em;
      left: -1.25em;
      padding-left: .25em;
    }
  }

  ol > li {
    list-style: decimal;
  }

  pre, code{
    background-color: #eafded;
    font-family: Courier, monospace;
    font-size: .75rem;
  }

  code{
    margin: -.25em 0;
    padding: .25em .15em;
    position: relative;
    bottom: .05em;
  }

  pre > code {
    display: block;
    margin: 0;
    padding: .8em;
    position: static;
    bottom: auto;
    overflow-x: auto;
  }

  kbd{
    padding: 3px 7px;
    margin: -3px 2px;
    font-size: 75%;
    line-height: 1;
    background: #e9e9e9;
    border-radius: 4px;
    box-shadow: 0 2px 0 #c9c7d4;
    font-family: "acumin-pro", Helvetica, Arial, sans-serif;
    position: relative;
    bottom: 2px;
  }

  blockquote{
    font-family: "acumin-pro", Helvetica, Arial, sans-serif;
    border-left: 2px solid #a8a5be;
    padding: .75rem;
    background: #fffffd;
    
    & :last-child{
      margin-bottom: 0;
    }
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  .text pre > code {
    /* Enables smoother scrolling for code sections on
       mobile (i.e. touch) devices. */
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.text blockquote {
  font-family: "acumin-pro", Helvetica, Arial, sans-serif;
  border-left: 2px solid #a8a5be;
  padding: .75rem;
  background: #fffffd;
}

.text blockquote :last-child {
  margin-bottom: 0;
}

.video{
  text-align: center;
}